node_modules
.DS_Store
dist
dist-ssr
*.local
question_sources/
src/questions.json
src/themes.json
public
__pycache__
.log/
server/assets/
russian-words/*
!russian-words/region.csv
!russian-words/city.csv
!russian-words/country.csv
