version: "3.9"
services:
  web:
    build: ./app
    ports:
      - "5000:5000"
    volumes:
      - ./app/src:/app/src
      - ./app/public:/app/public
    links:
      - backend
  backend:
    build: ./server
    ports:
      - "8080:8080"
    volumes:
      - ./server:/backend
