version: "3.9"
services:
  web:
    build: ./app
    ports:
      - "8000:8000"
    volumes:
      - ./app/src:/app/src/:rw
      - ./app/public:/app/public/:rw
    links:
      - backend
  backend:
    build: ./server
    ports:
      - "8080:8080"
    volumes:
      - ./server:/backend/:rw
