/* Top-level */

:root {
  --wletter-size: 50px;
  --primary-color: #51bbfe;
  --screen-msg-padding: 14px;
}

* {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

/* Global styles */

.p-16 {
  padding: 32px !important;
}

.p-8 {
  padding: 16px !important;
}

.p-4 {
  padding: 8px !important;
}

.tp {
  background-color: transparent !important;
}

w-auto {
  width: auto !important;
}

.tleft {
  text-align: left !important;
}

.flex-s {
  justify-content: flex-start;
}

.pb-2 {
  padding-bottom: 4px;
}

.w-100 {
  width: 100%;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mr-1 {
  margin-right: 4px;
}

.ml-1 {
  margin-left: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mt-4 {
  margin-top: 16px !important;
}

.p-4 {
  padding: 16px;
}

.flex {
  display: flex;
}

.flex-ch {
  justify-content: center;
}

.flex-100 {
  flex: 1 1 100%;
}

.flex-c {
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* Screen */

.screen {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eee;
  padding: 24px;
  position: relative;
}

.screen-content {
  min-width: 800px;
  background: #fff;
  height: auto;
  padding: 20px;
  padding-top: 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.screen-msg-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.screen-msg > .ant-card-body {
  background: #fff;
  padding: var(--screen-msg-padding);
  display: flex;
  flex-direction: column;
}

.screen-msg > .ant-card-actions > li {
  text-align: start;
  padding: 0 var(--screen-msg-padding);
}

.screen-msg .screen-content-header > .ant-typography {
  font-size: 18px;
}

.screen-msg > .ant-card-head {
  padding: var(--screen-msg-padding);
  padding-bottom: 0;
}

.screen-msg > .ant-card-head .ant-card-head-title {
  padding: 0;
}

.screen-content-max {
  min-height: 100%;
  max-height: 100%;
  max-height: 800px;
  max-width: 800px;
}

/* Quiz game */

.theme-grid {
  padding: 16px;
  max-width: 1000px;
}

.theme-card {
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 20px;
  text-align: center;
}

.theme-card.theme-card_selected {
  background-color: var(--primary-color);
}

.theme-card:hover {
  background: #eee;
}

.theme-card.theme-card_selected:hover {
  background: var(--primary-color);
}

.answer-screen-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 100%;
}

.question {
  overflow: hidden;
  margin-bottom: 24px;
}

.q-image-container {
  background: #eee;
}

.question .q-image-container img {
  width: auto;
  height: 100%;
  max-height: 400px;
}

.screen-content-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.header {
  flex: 0 0 80px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  flex-direction: row;
}

.navigation {
  flex: 1 0 auto;
}

.header nav > .nav-item {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.header nav > .nav-item > a {
  font-size: 16px;
}

.header nav > .nav-item:last-child {
  margin-right: 0;
}

.header .logo {
  height: 100%;
  font-size: 24px;
  flex: 1 0 auto;
  color: white;
  user-select: none;
  cursor: pointer;
}

.fd {
  flex: 1 1 100%;
}

.a {
}

.screen-title {
  padding: 16px 0;
}

.index-page-list {
}

.index-page-list > .index-page-list__item {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.index-page-list > .index-page-list__item > p {
  line-height: 1.1rem;
  font-size: 16px;
}

.h-100 {
  height: 100%;
}

.f-100 {
  flex: 1 1 100%;
}

.game-ended-message {
}

.wletter-table {
  display: grid;
  width: 100%;
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6px;
  row-gap: 6px;
  padding: 8px;
  width: 100%;
  position: absolute;
  width: auto;
  right: 0;
  top: 0;
  height: auto;
  user-select: none;
}

.wletter {
  width: var(--wletter-size);
  height: var(--wletter-size);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in, color 0.2s ease-in !important;
}

.wletter.wletter_used {
  background-color: #838383;
  color: white;
}

.particle-to-guess {
}

.ph-16 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.df {
  display: flex;
}

.frr {
  flex-direction: row-reverse;
}

.jcsp {
  justify-content: space-between;
}

.fc {
  flex-direction: column;
}

.question-status {
  display: flex;
  flex-direction: row;
  justify-content: start !important;
}

.question-status__icon {
  font-size: 24px;
}

.fch {
  justify-content: center;
}

/* PlayerHearts */

.player-hearts {
  display: flex;
  width: auto;
  display: flex;
  justify-content: center;
  color: red;
}

.player-hearts > span {
  margin-right: 2px;
}

.player-hearts:last-child {
  margin-right: 0;
}

/* Game table */

.player-nickname {
  display: flex;
  white-space: nowrap;
  margin-bottom: 6px;
  white-space: pre-wrap;
  text-align: center;
}

.player-table {
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player.player_turn {
  /* background: green; */
}

.player.player_dead {
  background: red;
}

.wg-turn-arrow {
  position: absolute;
  bottom: -55px;
  font-size: 80px;
}

.player-table-center {
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-slot {
  /* width: 60px; */
  /* width: 200px; */
  /* height: 100px; */
  margin: -60px;
  position: absolute;
  border: 1px solid #eee;
}

.player-slot > .player {
  width: 100%;
  height: 100%;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 100%;
  position: relative;
}

.player_me {
  background-color: #eee;
}

.player-input {
  width: 100%;
  font-size: 16px;
  color: grey;
  display: flex;
  justify-content: center;
}

.user-input.user-input_wrong {
  color: red;
}
