* {
  outline: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.theme-grid {
  padding: 16px;
}

.theme-card {
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 20px;
  text-align: center;
}

.theme-card.theme-card_selected {
  background-color: green;
}

.theme-card:hover {
  background: #eee;
}

.theme-card.theme-card_selected:hover {
  background: red;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.play-page, .lost-screen {
}

.screen {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  flex-direction: column;
  background: #eee;
  padding: 24px;
}

.screen-content {
  min-width: 800px;
  min-height: 600px;
  background: #fff;
  padding: 20px;
  padding-top: 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.answer-screen-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 100%;
}

.question {
  overflow: hidden;
  margin-bottom: 24px;
}

.q-image-container {
  background: #eee;
}

.question .q-image-container img {
  width: auto;
  height: 100%;
  max-height: 400px;
}

.w-100 {
  width: 100%;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.screen-content-header {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
}

.flex {
  display: flex;
}

.flex-ch {
  justify-content: center;
}

.flex-100 {
  flex: 1 1 100%;
}

.flex-c {
  justify-content: center;
  align-items: center;
}

.header {
  flex: 0 0 80px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.header .logo {
  height: 100%;
  font-size: 24px;
  width: 120px;
}

.screen-title {
  padding: 16px 0;
}

.index-page-list {
}

.index-page-list > .index-page-list__item {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.index-page-list > .index-page-list__item > p {
  line-height: 1.1rem;
  font-size: 16px;
}

.h-100 {
  height: 100%;
}

.f-100 {
  flex: 1 1 100%;
}

.game-ended-message {
}

.player-table {
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-table-center {
  position: relative;
  /* left: 50%; */
  /* top: 50%; */
  /* margin: auto; */
  width: 40px;
  height: 40px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid #eee; */
  padding: 16px;
}

.player-hearts {
  display: flex;
  width: auto;
  display: flex;
  justify-content: center;
}

.player-nickname {
  display: flex;
  white-space: nowrap;
  margin-bottom: 6px;
}

.player-slot {
  /* width: 60px; */
  /* height: 60px; */
  margin: -60px;
  position: absolute;
}

.particle-to-guess {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ph-16 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.fs-18 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}
