* {
  outline: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.theme-grid {
  padding: 16px;
}

.theme-card {
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 20px;
  text-align: center;
}

.theme-card.theme-card_selected {
  background-color: green;
}

.theme-card:hover {
  background: #eee;
}

.theme-card.theme-card_selected:hover {
  background: red;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.play-page, .lost-screen {
}

.screen {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  flex-direction: column;
  background: #eee;
  padding: 24px;
}

.screen-content {
  min-width: 800px;
  min-height: 600px;
  background: #fff;
  padding: 20px;
  padding-top: 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.screen-msg-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.screen-msg {
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.answer-screen-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 100%;
}

.question {
  overflow: hidden;
  margin-bottom: 24px;
}

.q-image-container {
  background: #eee;
}

.question .q-image-container img {
  width: auto;
  height: 100%;
  max-height: 400px;
}

.w-100 {
  width: 100%;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mr-1 {
  margin-right: 4px;
}

.ml-1 {
  margin-left: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mt-4 {
  margin-top: 16px !important;
}

.p-4 {
  padding: 16px;
}

.screen-content-header {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
}

.flex {
  display: flex;
}

.flex-ch {
  justify-content: center;
}

.flex-100 {
  flex: 1 1 100%;
}

.flex-c {
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.header {
  flex: 0 0 80px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}


.header nav {
  display: flex;
  flex-direction: row;
}

.header nav > .nav-item {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.header nav > .nav-item > a {
  font-size: 18px;
}

.header nav > .nav-item:last-child {
  margin-right: 0;
}

.header .logo {
  height: 100%;
  font-size: 24px;
}

.a {
}

.screen-title {
  padding: 16px 0;
}

.index-page-list {
}

.index-page-list > .index-page-list__item {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.index-page-list > .index-page-list__item > p {
  line-height: 1.1rem;
  font-size: 16px;
}

.h-100 {
  height: 100%;
}

.f-100 {
  flex: 1 1 100%;
}

.game-ended-message {
}

.player-table {
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player.player_turn {
  /* background: green; */
}

.player.player_dead {
  background: red;
}

.wg-turn-arrow {
  position: absolute;
  bottom: -55px;
  font-size: 80px;
}

.player-table-center {
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-slot {
  /* width: 60px; */
  /* height: 60px; */
  margin: -60px;
  position: absolute;
  width: 200px;
  height: 80px;
}

.player-slot > .player {
  width: 100%;
  height: 100%;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.player-input {
  width: 100%;
  font-size: 16px;
  color: grey;
  display: flex;
  justify-content: center;
}

.user-input.user-input_wrong {
  color: red;
}

.player-hearts {
  display: flex;
  width: auto;
  display: flex;
  justify-content: center;
  color: red;
}

.player-nickname {
  display: flex;
  white-space: nowrap;
  margin-bottom: 6px;
}

.particle-to-guess {
}

.ph-16 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}
