* {
  outline: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.theme-grid {
  padding: 16px;
}

.theme-card {
  height: 140px;
  cursor: pointer;
}

.theme-card.theme-card_selected {
  background-color: green;
}

.theme-card:hover {
  background: #eee;
}

.theme-card.theme-card_selected:hover {
  background: red;
}

.theme-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.play-page, .lost-screen {
}

.screen {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background: #eee;
}

.screen-content {
  min-width: 800px;
  height: 600px;
  background: #fff;
  padding: 16px;
}

.screen-content-header {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.flex {
  display: flex;
}

.flex-ch {
  justify-content: center;
}
